* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/* header */

header {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 2em;
}

input, select, button {
    font-family: inherit;
    font-size: 1.5rem;
    min-height: 3em;
    cursor: pointer;
}

input {
    width: 4em;
}

select, button {
    border: 2px solid #D1D5DB;
    border-radius: 5px;
    background-color: white;
    padding: 0.5em;
}

/* main */

main {
    display: flex;
    flex: 0 1;
}

main div {
    height: 80vh;
    width: 20%;

    display: flex;
    flex-direction: column-reverse;

    cursor: pointer;
}

main div p {
    text-align: center;
    background-color: white;
    padding: 2em 0;
    margin: auto 0 0;
}
